body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(218, 219, 233, 1);
  color: rgb(43, 43, 43);
  margin: 0 0;
  padding: 0 0;
  min-height: 100vh;
}
#videoView {
  position: relative;
  max-width: 100vw;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
}
#remoteVideo {
  max-width: 100vw;
  width: 400px;
}
#localVideo {
  max-width: 100px;
  z-index: 10;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.btn {
  margin: 0.5em;
  padding: 0.7em;
  border: 1px solid rgba(21, 22, 39, 0.589);
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#roomId {
  font-family: monospace;
  font-size: 1.25em;
  padding: 2px;
  background-color: white;
  color: black;
}
#wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

/* dark mode */
body.dark {
  background-color: rgba(21, 22, 39) !important;
  color: white !important;
}
.dark .btn:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.dark .btn {
  border: 1px solid white !important;
}